<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Thanks For Your Order</h3>
    <h4>Hi <%= username %> </h1>
    <p> Your item(s) will be shipped soon</p>
    <table>
        <thead>
            <th>Name</th>
            <th>Qty</th>
            <th>Item Price</th>
            <th>Item Total</th>
        </thead>
        <tbody>
            <% for (product of data.listProduct) { %>
                <tr>
                    <td><%= product.name %> </td>
                    <td><%= product.qty %> </td>
                    <td><%= product.info.price %> </td>
                    <td><%= product.price %> </td>
                </tr>
            <% } %> 
        </tbody>
    </table>
    <h2>Your total bill is: <%= data.totalPrice %> </h2>
    Here to back our website<h2><%= url %></h2>
</body>
</html>