<%- layout('./layout/template') %>
<link rel="stylesheet" type="text/css" href="/css/productDetail.css" />
<div class="product-page">
  <div class="product-container">
    <div class="field-back">
      <a href="/home"
        ><button class="btn-back" title="Quay lại">← Quay lại</button></a
      >
    </div>
    <div class="product-category-detail">
      <div class="field-img">
        <div class="item">
          <img id="main-img" src="<%= product.images[0].url %>" alt="<%= product.slug %>" />
        </div>
        <p class="thumbBar">
          <img id="1" src="<%= product.images[0].url %>" alt="<%= product.slug %>" />
          <img id="2" src="<%= product.images[0].url %>" alt="<%= product.slug %>" />
          <img id="3" src="<%= product.images[0].url %>" alt="<%= product.slug %>" />
        </p>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script>
        $(()=> {
          $('p img').click(function(){
            /*console.log($(this).attr('id'));*/
            let imgPath = $(this).attr('src');
            $('#main-img').attr('src',imgPath);
          })
        })
      </script>
      <div class="field-content">
        <div class="field-breadcrumb">
          <ul class="breadcrumb">
            <li><a href="#">Trang chủ</a></li>
            <li><a href="#">Menu</a></li>
            <li><%= product.name %> </li>
          </ul>
        </div>
        <h2 style="margin-top:16px"><%= product.name %></h2>
        <div class="field-price">
          <span><%= product.price %> </span>
          <span>₫</span>
        </div>
        <div class="field-note">
          <div class="field-text">
            <p><%= product.description %></p>
          </div>
        </div>
        <button class="add-bt" onclick="addCart('<%= product.id%>')">
          Thêm vào giỏ hàng
        </button>
      </div>
    </div>
  </div>
</div>

